.ajaxTable  {
	width: 100%;
	text-align: center;
    border-width: 5px 5px 1px 5px;
    border-spacing: 0;
    border-collapse: collapse;
	border-color: #eeeeee;
    border-style: solid;
	font-size: 100%;
}
.ajaxTable td
{
    border-color: #dddddd;
    border-style: solid;
    padding: 4px;
    border-width: 1px 0px 0px 0px;
}

.ajaxTable tfoot
{
   background: #e5e5e5;
   font-style: italic;
}

.ajaxTable th
{
padding-top: 10px;
height: 40px;
}



.tdOdd {
   background-color: #fff;
   height:35px;
   font-weight:bold;
}
.tdEven {
	background-color: #DEECF4;
	height:35px;
	font-weight:bold;
}

tr.hovered {
  background-color: #fff;
}
.ajaxTable tr:hover {
  background-color: #ffffec;
}







.pagination {

padding-top: 20px;
text-align: center;
}

.pagination a {
font-size: 80%;
border: 1px solid #c7c7c7;
margin: 2px;
padding: 2px;
text-decoration: none;
}
.pagination a:hover {
background-color: #cccccc;
}

.paginationSelected {
background-color: #333;
color: #FFFFFF;
}

#valider { border: 1px solid gray;
background-color:#FF0000;
height:30px;
width:200px;
color:#FFFFFF;
float:right;
}

a.valider {
color: #fff;
font-weight:bold;
}